<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @staff.description %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @staff.speciality %>
</p>

<p>
  <strong>User:</strong>
  <%= @staff.user %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
