<%= form_for(@clinic) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br>
    <%= f.text_area :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br>
    <%= f.text_area :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :phone_country_code %><br>
    <%= f.text_field :phone_country_code %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :ratings %><br>
    <%= f.text_field :ratings %>
  </div>
  <div class="field">
    <%= f.label :coordinator %><br>
    <%= f.text_field :coordinator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
