<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @procedure.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @procedure.description %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @procedure.clinic %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
